polkit.addRule(function(action, subject) {
    if (action.id === "org.freedesktop.policykit.exec" &&
        action.lookup("program") === "/home/.onexfly-charge-helper/charge-helper" &&
        action.lookup("user") === "root" &&
        subject.user === "deck" && subject.local && subject.active) {
        return polkit.Result.YES;
    }
});
