[Unit]
Description=ONEXPLAYER APEX BMI260 IIO hrtimer trigger
Before=inputplumber.service

[Service]
Type=oneshot
ExecStart=/etc/inputplumber/apex-bmi260-trigger.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
